<%- model_class = Offer -%>
<table class="table table-striped">
  <thead>
  <tr>
    <%if offers.blank?%>
        <p class="display_font"><em>You have no pending offers.</em></p>
    <%else%>
        <th><%= model_class.human_attribute_name('Product') %></th>
        <th><%= model_class.human_attribute_name('Seller') %></th>
    <%end%>
  </tr>
  </thead>
  <tbody>
      <% offers.each do |o| %>
        <tr>
          <%
             product = o.product
             user = product.user
              %>
          <td><%= link_to product.title, product_path(product) %></td>
          <td><%= link_to user.name, user_path(user) %></td>
          <td>
              <% if product.status == Rubeus::SOLD %>
                <%= Rubeus::ACCEPTED_MSG %>
              <%else%>
                <%= link_to t(Rubeus::WITHDRAW),offer_path(o),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
              <%end%>
            <%= link_to t(Rubeus::SEND_MESSAGE),
                        new_user_message_path(user, :recipient_id => user.id), :method => 'get', :class => 'btn btn-primary btn-mini' %>

          </td>
     </tr>
      <% end %>
  </tbody>
</table>